footer{
    padding: 20px;
	.conteudo{
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0px;
        
        .left{
            padding-right: 10px;
            padding-bottom: 5px;
            text-align: center;
            width: 100%;
            @include desktop{
                padding-bottom: 0;
                text-align: unset;
                width: auto;
            }
        }
        
        .right{
            text-align: center;
            width: 100%;
            @include desktop{
                text-align: unset;
                width: auto;
            }
            a{
                i{
                    padding-left: 5px;
                    font-size: 20px;
                }
            }
        }
    }
}